/* ===>>> Common Responsive Styles Here <<<=== */

@media screen and (max-width: 500px) {
   .sectionTitle {
      text-align: center;
   }
}

/* ===>>> Header Section Responsive Styles Here <<<=== */

@media screen and (max-width: 500px) {
   #header .menuArea {
      display: none;
   }

   #header .hamMenuIcon {
      display: block;
   }

   #header.active .hamMenuArea {
      max-height: 25rem;
   }
}

/* ===>>> Player Section Responsive Styles Here <<<=== */

@media screen and (max-width: 1000px) {
   #player .players {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }

   #player .player {
      width: 28rem;
      flex-shrink: 0;
   }
}

@media screen and (max-width: 375px) {
   #player .player {
      flex-direction: column;
      width: 100%;
   }
}

#blog,
#course,
#footer {
   display: none;
}
