/* ===>>> Common Responsive Styles Here <<<=== */

@media screen and (max-width: 500px) {
   .sectionTitle {
      text-align: center;
   }
}

/* ===>>> Header Section Responsive Styles Here <<<=== */

@media screen and (max-width: 500px) {
   #header .menuArea {
      display: none;
   }

   #header .hamMenuIcon {
      display: block;
   }

   #header.active .hamMenuArea {
      max-height: 25rem;
   }
}

/* ===>>> Player, Blog & Course Section Responsive Styles Here <<<=== */

@media screen and (max-width: 1000px) {
   #player .players,
   #blog .blogs,
   #course .courses {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }
}

/* ===>>> Player & Course Section Responsive Styles Here <<<=== */

@media screen and (max-width: 1000px) {
   #player .player,
   #course .course {
      width: 28rem;
      flex-shrink: 0;
   }
}

@media screen and (max-width: 375px) {
   #player .player,
   #course .course {
      flex-direction: column;
      width: 100%;
   }

   #course .course img {
      width: 100%;
      height: auto;
      aspect-ratio: 2/1.5;
   }

   #course .course .textArea {
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   #course .course .textArea .ratings {
      flex-direction: column;
   }
}

/* ===>>> Blog Section Responsive Styles Here <<<=== */

@media screen and (max-width: 1000px) {
   #blog .blog {
      width: 44rem;
   }
}

@media screen and (max-width: 530px) {
   #blog .blog {
      flex-direction: column;
   }

   #blog .blog img {
      width: 100%;
      height: auto;
   }
}

@media screen and (max-width: 375px) {
   #blog .blog {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   #blog .blog .textArea p {
      white-space: normal;
   }

   #blog .blog .textArea a {
      white-space: nowrap;
   }
}

/* ===>>> Some Padding Responsive Styles Here <<<=== */

@media screen and (max-width: 400px) {
   #player .container,
   #blog .container,
   #course .container {
      padding-left: 2rem;
      padding-right: 2rem;
   }
}

@media screen and (max-width: 300px) {
   #player .container,
   #blog .container,
   #course .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }
}
